<!DOCTYPE html>
<html lang="pt-br" ng-app="obs.lower.third">
    <head>
        <title>OBS Lower Third - Control Panel</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="assets/css/reset.css">
        <link rel="stylesheet" href="assets/fonts/font.css">
        <link rel="stylesheet" href="assets/css/screen.css">
        <link rel="stylesheet" href="assets/css/input-spinner.css">
        <link rel="stylesheet" href="assets/css/animation.css">
        
        <link rel="stylesheet" href="assets/css/panel.css">
        <link rel="stylesheet" href="assets/css/panel.controls.css">
        <link rel="stylesheet" href="assets/css/panel.lowers.css">
        <link rel="stylesheet" href="assets/css/modal.css">
        <link rel="stylesheet" href="assets/css/panel.add.css">

        <script src="lib/angular.min.js"></script>

        <script src="app/obs.lower.third.module.js"></script>

        <script src="app/drag/drag.directive.js"></script>

        <script src="app/storage/storage.service.js"></script>
        <script src="app/broadcast/broadcast.service.js"></script>

        <script src="app/panel/panel.controller.js"></script>

    </head>

    <body class="panel-container color-primary" ng-controller="panelcontroller">
        
        <header class="panel-header color-header ">
            
            <em>Fade</em>
            
            <em>Effect</em>

            <em> 
                <button class="btn-reset" ng-click="reset()">R</button>
                Go Live</em>

            <div class="input-spinner color-secondary">
                <span ng-click="fade('-')" >-</span>
                <input type="text" ng-model="control.effect.on">
                <span ng-click="fade('+')">+</span>
            </div>
            
            <div class="input-spinner color-secondary">
                <span ng-click="effectsCtrl('-')">-</span>
                <input type="text" ng-model="control.effect.type" readonly>
                <span ng-click="effectsCtrl('+')">+</span>
            </div>
            <button 
                class="go-live danger {{ (control.go) ? 'active-btn': '' }}"
                ng-click="toggleGo()"
            >GO</button>

        </header>
        
        <main class="panel-main">

            <div class="panel-controls">
                <strong ng-click="downImage(control.select)">-</strong>
                <strong ng-click="upImage(control.select)">+</strong>
                <strong ng-click="upText(control.select)">+</strong>
                <strong ng-click="downText(control.select)">-</strong>
            </div>
            
            <section id="screen" class="screen preview">
                
                <div class="show animation {{ (control.select.active) ? 'visible' :'' }}">
                    
                    <img 
                        src="{{control.select.image.src}}" 
                        style="
                            width: {{control.select.image.size}}%; 
                            top: {{control.select.image.y}}%; 
                            left: {{control.select.image.x}}%;
                        "
                        lower="control.select"
                        updade="updade"
                        draggable
                    >
                    
                    <span
                        style="
                            font-size: calc((((100vw - 16px) * 0.77) / 100) * {{control.select.text.size}} );
                            top: {{control.select.text.y}}%; 
                            left: {{control.select.text.x}}%;
                        " 
                        lower="control.select"
                        updade="updade"
                        draggable
                    >{{control.select.text.src}}</span>
                </div>

            </section>

            <section class="panel-lowers">

                <div 
                    class="lower {{ (lo.active) ? 'active-btn' : '' }}" 
                    ng-repeat="lo in lowers" 
                    ng-click="select(lo)"
                    ng-dblclick="edit(lo)"
                >
                    <span>{{ lo.title | limitTo: 15 }}</span>
                    <span>{{ lo.text.src | limitTo: 20 }}</span>
                </div>

                <div class="lower lower-add" ng-click="add()">
                    <span>+</span>
                </div>

            </section>

            <section class="modal {{ (control.add) ? 'active' :'' }}" >
                <div class="modal-content color-secondary panel-add">
                    <h4>Add Lower Third</h4>
                    <form autocomplete="off">
                        <input name="title" placeholder="Título" ng-model="lower.title" >
                        <input name="image" placeholder="Caminho da imagem" ng-model="lower.image.src">
                        <textarea name="text" placeholder="Texto" rows="4" ng-model="lower.text.src"></textarea>
                        <button class="btn success" ng-click="save(lower)">Save</button>
                        <button class="btn danger" ng-click="toggleAdd(lower)">Cancel</button>
                    </form>
                </div>
            </section>

            <section class="modal {{ (control.edit) ? 'active' :'' }}" >
                <div class="modal-content color-secondary panel-add">
                    <h4>Edit Lower Third:</h4>
                    <form autocomplete="off">
                        <input name="title" placeholder="Título" ng-model="control.select.title" >
                        <input name="image" placeholder="Caminho da imagem" ng-model="control.select.image.src">
                        <textarea name="text" placeholder="Texto" rows="4" ng-model="control.select.text.src"></textarea>
                        <button class="btn success" ng-click="storage(control.select)">Save</button>
                        <button class="btn warning" ng-click="remove(control.select)">Remove</button>
                        <button class="btn danger" ng-click="toggleEdit(control.select)">Cancel</button>
                    </form>
                </div>
            </section>

        </main>
    </body>
</html>