.panel-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60px 1fr;
    width: 100%;
    min-width: 300px;
    min-height: 500px;
    height: 100%;
    overflow: hidden;
    border: solid 1px rgba(0,0,0,1);
    background-color: rgba(31, 30, 31, 1);
    clear: both;
    color: #FFF;
}

.panel-container .panel-header {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    height: 100%;
    width: 100%;
    background-color: rgba(76, 76, 76,0.8);
    padding: 8px 4px 0 4px;
    box-sizing: border-box;
}

.panel-container .panel-header * {
    box-sizing: border-box;
}

.panel-container .panel-header em {
    font-size: 11px;
    padding: 0 0 0 8px ;
    margin: 0;
    font-style: normal;
}

.panel-container .panel-main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 24px 1fr 250px;
}

.panel-main .panel-controls {
    height: 24px;
    text-align: center;
    margin: 4px 0 0 0;
    z-index: 10;
}

.panel-main .panel-controls > * {
    display: inline-table;
    height: 22px;
    width: 32px;
    line-height: 22px;
    font-size: 18px;
    background-color:rgba(0,0,0,0.4);
    border: solid 1px #232323;
    cursor: pointer;
    margin: 2px 8px;
}

.panel-main .panel-controls > *:hover {
    background-color: rgba(255,255,255,0.1);
    border: solid 1px #747474;
}

.panel-main .panel-controls > *:first-child,
.panel-main .panel-controls > *:nth-child(2) {
    float: left;
}

.panel-main .panel-controls > *:nth-child(3),
.panel-main .panel-controls > *:last-child {
    float: right;
}

.panel-container .panel-main .panel-lowers {
    border: solid 1px rgba(0,0,0,1);
    padding: 4px;
    display: block;
    clear: both;
    overflow-y: auto;
}

.panel-container .panel-main .panel-lowers .lower {
    background-color: rgba(76,76,76,0.5);
    cursor: pointer;
    padding: 8px 12px;
    outline: solid 3px transparent;
    height: 48px;
    width: calc(50% - 8px);
    vertical-align: top;
    margin: 4px;
    float: left;
    font-weight: 500;
    border-radius: 2px;
    box-sizing: border-box;
}

.panel-container .panel-main .panel-lowers .lower:hover {
    filter: brightness(1.2);
}

.panel-container .panel-main .panel-lowers .lower.active {
    outline: solid 3pX #f00;
}

.panel-container .panel-main .panel-lowers .lower > * {
    display: block;
    position: relative;
    width: 100%;
    padding: 0;
    background-color: transparent;
    word-wrap: break-word;
}

.panel-container .panel-main .panel-lowers .lower > *:first-child {
    font-weight: bold;
    font-size: 0.8em;
}

.panel-container .panel-main .panel-lowers .lower > *:last-child {
    font-size: 0.6em;
    margin-top: 4px;
}

.panel-container .panel-main .panel-lowers .lower.lower-add {
    opacity: 0.4;
    border: solid 1px rgba(255,255,255, 0.6);
}

.panel-container .panel-main .panel-lowers .lower.lower-add:hover {
    opacity: 0.8;
}

.panel-container .panel-main .panel-lowers .lower.lower-add > * {
    line-height: 24px;
    text-align: center;
    font-size: 1.6em;
}

.input-spinner {
    margin: 2px;
    position: relative;
    height: 24px;
    max-width: 140px;
    min-width: 110px;
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    border: solid 1px rgba(0,0,0,0.3);
    border-radius: 3px;
}

.input-spinner * {
    margin: 0;
    padding: 0;
    position: relative;
    box-sizing: border-box;
    height: 100%;
    line-height: 22px;
    text-align: center;
    border: none;
    outline: 0;
    color: inherit;
}

.input-spinner > *:first-child,
.input-spinner > *:last-child {
    cursor: pointer;
    min-width: 24px;
    background-color: rgba(0,0,0,0.2);
    font-weight: 700;
    font-size: 22px;
}

.input-spinner > *:first-child:hover,
.input-spinner > *:last-child:hover {
    background-color: rgba(0,0,0,0.1);
}

.input-spinner > *:first-child {
 
}

.input-spinner > *:nth-child(2) {
    min-width: 72px;
    background-color: transparent;
}

.input-spinner > *:last-child {

}

.btn {
    width: 48px;
    height: 48px;
    background-color: rgba(0,0,0,0.1);
}

.icon {
    width: 100%;
}

.icon img {
    width: 30px;
}

.modal {
    height: 0;
    width: 0;
    position: fixed;
    transition: all 0.3s ease-in-out;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    opacity: 0.3;
    z-index: 1000;
}

.modal.active {
    width: 290px;
    height: auto;
    max-height: 320px;
    background-color: transparent;
    top: 60px;
    margin: 0 5px 0 5px;
    padding: 0 8px;
    box-sizing: border-box;
    overflow: none;
    opacity: 1;
}

.active.modal::before {
    content: "";
    display: block;
    height: 100vh;
    width: 300px;
    background-color: rgba(0,0,0,0.7);
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
}

.modal > * {
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: rgba(31, 30, 31, 1);
    box-sizing: border-box;
    padding: 8px 16px;
    border: solid 1px rgba(255,255,255,0.1);
    color: #FFF;
}

.modal > * > *:first-child {
    font-weight: bold;
    text-align: center;
    font-size: 1.2em;
    text-align: center;
    display: block;
    padding: 4px 0 0 0;
}

.modal > * > *:last-child {
    width: 100%;
    max-width: 290px;
    margin: auto;
    padding: 16px 0 0 0;
    box-sizing: border-box;
    color: #FFF;
}

.modal > * > *:last-child > * {
    display: block;
    width: calc(100% - 16px);
    margin: 8px 0 4px 0;
    padding: 0;
    position: relative;
    padding: 8px;
    background-color: rgba(76,76,76,0.3);
    border: solid 1px rgba(0,0,0,1);
    color: #FFF;
}

.modal > * > *:last-child > button {
    width: 100%;
}

.lower.active {
    animation: blink 1s linear infinite;
}

@keyframes blink{
    50%{opacity: 0.2;}
}