
body .show.animation {
    animation-duration: 20ms;
    animation-delay: 0.01s;
    animation-fill-mode: forwards !important;
    will-change: transform, opacity;
}

body .fade {
 opacity: 0;
}

body .fade.fade-in {
    opacity: 0;
    animation-name: fade-in;
    animation-timing-function: ease-out;
}

body .fade.fade-out {
    opacity: 1;
    animation-name: fade-out;
    animation-timing-function: ease-in;
}

@keyframes fade-in {
    to { opacity: 1; }
}

@keyframes fade-out {
    to { opacity: 0; }
}

body .slide {
    transform: translateX(-100%);
}

body .slide-in {
    transform: translateX(-100%);
    animation-name: slide-in;
    animation-timing-function: ease-out;
}

body .slide-out {
    transform: translateX(0%);
    animation-name: slide-out;
    animation-timing-function: ease-in;
}
    
@keyframes slide-in {
    to { transform: translateX(0%); }
}

    
@keyframes slide-out {
    to { transform: translateX(-100%); }
}
