html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed';
}

.color-primary {
    color: rgba(255,255,255,1);
    background-color: rgba(30, 30, 30, 1);
}

.color-secondary {
    color: rgba(255,255,255,1);
    background-color: rgba(47, 47, 47, 1);
}

.color-teciary {
    color: rgba(255,255,255,1);
    background-color: rgba(57, 57, 57, 1);
}

.color-bg {
    color: rgba(255,255,255,1);
    background-color: rgba(76, 76, 76, 1);
}