html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed';
}

body.color-primary,
body .color-primary {
    color: rgba(255,255,255,1);
    background-color: rgba(30, 30, 30, 1);
}

body .color-secondary {
    color: rgba(255,255,255,1);
    background-color: rgba(47, 47, 47, 1);
}

body .color-teciary {
    color: rgba(255,255,255,1);
    background-color: rgba(57, 57, 57, 1);
}

body .color-header {
    color: rgba(255,255,255,1);
    background-color: rgba(76, 76, 76, 1);
}

body .success {
    color: rgba(255,255,255,1);
    background-color: #00916E;
}

body .danger {
    color: rgba(255,255,255,1);
    background-color: #B80C09;
}

body .warning {
    color: rgba(255,255,255,1);
    background-color: #E6AF2E;
}

body .info {
    color: rgba(255,255,255,1);
    background-color: #33658A;
}

body form {
    padding: 0;
    margin: auto;
    position: relative;
}

body form > *:not(button) {
    width: calc(100% - 18px);
    margin: 8px auto;
    padding: 8px;
    background-color: transparent;
    border: solid 1px rgba(0,0,0,1);
    display: block;
    color: #FFF;
}

body .btn {
    width: auto;
    max-height: 32px;
    max-width: 120px;
    border: none;
    border-radius: 3px;
    padding: 0 8px;
    line-height: 140%;
    margin: auto 4px;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

body .btn:hover {
    filter: brightness(1.2);
}

body select,
body option {
    color: rgba(255,255,255,1);
    background-color: rgba(47, 47, 47, 1);
    outline: 0;
    border: none;;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }
