.screen,
.screen .show {
    border: none;
    outline: 0;
    left: 0;
    top: 0;
    overflow: hidden;
}

.screen {
    width: calc(100vw - 16px);
    height: calc((100vw - 16px) / 1.778);
    position: relative;
    box-sizing: border-box;
    border: solid 0.1px rgba(0,0,0,0);
    margin: 0px auto;
    color: #FFF;
    text-shadow: 
        1px 0px 20px rgba(0,0,0,0.2), 
        0px 1px 20px rgba(0,0,0,0.2), 
        -1px 0px 20px rgba(0,0,0,0.2), 
        0px -1px 20px rgba(0,0,0,0.2);
    -webkit-text-stroke: 0.1px rgba(0,0,0,1); 
    text-stroke: 0.1px rgba(0,0,0,0.1);
}

.screen * {
    box-sizing: border-box;
    position: relative;
    margin: 0;
    padding: 0;
    color: inherit;
    text-shadow: inherit;
}

.screen .show {
    width: 100%;
    height: 100%;
    will-change: transform, transition;
    visibility: hidden;
}

.screen .show.visible {
    visibility: visible;
}

.screen .show > * {
    position: absolute;
    width: auto;
    word-wrap: break-word;
    top: 0%;
    left: 0%;
    line-height: calc(100% * 0.73);
    z-index: 1;
}

.screen.show img {
    max-width: 100%;
    object-fit: cover;
}

.screen .show span {
    font-size: calc((((100vw -16px)* 0.77) / 100) * 7 ); /* max 100*/
    text-align: left;
}

.screen.preview {
    min-width: 284px;
    min-height: calc(284px / 1.778);
    margin: 2px auto;
    background-color: rgba(76,76,76,0.5);
    border: solid 1px rgba(255,255,255,0.2);
    color: #FFF;
}

.screen.preview,
.screen.preview .show {
    outline: solid 1px rgba(0,0,0,0.3);
}

.screen.preview .show.visible {
    border: solid 1px #FFF;
}

.screen.preview .show > * {
    cursor: pointer;
    border: solid 0.1px transparent;
    min-width: 20px;
    min-height: 5px;
    box-sizing: border-box;
    padding: 4px;
}   